@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

header {
    height: 15vh;
    width: 100%;
    background-image: url('../img/fundo-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

main {
    height: 75vh;
    display: grid;
    grid-template-rows: 100px 1fr;
}

a {
    color: #8A8A8A;
}

footer {
    height: 10vh;
    background-color: #2884B2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .7rem;
    color: #fff;
}