footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2884B2;
}

@media (max-width: 425px) {
    footer {
        font-size: .6rem;
    }

    .footer__text {
        text-align: center;
    }
}