main{
    height: 75vh;
    display: flex;
    justify-content: center;
}
.select-materia{
    position: absolute;
    left: 18vw;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "curso icons";
    width: 70vw;
    margin-top: 4vh;
}
.title{
    grid-area: curso;
    display: flex;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    padding-top: 2%;
    font-weight: bold;
    font-family:  'Inter', 'sans-serif';
}
.icons{
    grid-area: icons;
    display: flex;
    font-size: 2.5rem;
    align-self: center;
    justify-self: center;
    gap: 60px;
    padding-top: 2%;
    color: #073f5c;   
}
.card-container{
    height: 29.4vh;
    width: 100%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family:  'Inter', 'sans-serif';
}
.card__curso{
    display: grid;
    grid-template-rows: 25% 35% 25%;
    grid-template-areas: 
    "nome"
    "sigla"
    "carga";
    width: 12vw;
    height: 25vh;
    cursor: pointer;
    background-color: #D9D9D9;
    transition: 0.7s;
}

.card__curso a {
    color: #000;
    text-decoration: none;
}

.card__curso span{
    align-self: center;
    justify-self: center;
}
.card__curso h1{
    align-self: center;
    justify-self: center;
}

.card__curso i{
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
}

.card__title{
    font-size: .9rem;
    font-weight: 700;
}

.card__carga{
    color: #838383;
}

.card__interacao{
    justify-self: center;
}

.card__h1{
    font-size: 2rem;
    font-weight: bold;
}

.card-container a {
    color: #000;
    text-decoration: none;
}

